In [1]:
# initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Kaggle Diabetes Dataset
### https://www.kaggle.com/datasets/akshaydattatraykhare/diabetes-dataset

In [2]:
diabetes1_df = pd.read_csv('diabetes.csv')
diabetes1_df.head(6)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

## CDC Diabetes Survaliance (Total)
### https://gis.cdc.gov/grasp/diabetes/diabetesatlas-surveillance.html

In [3]:
diabetes2_df = pd.read_csv('DiabetesAtlas_NationalData.csv')
diabetes2_df.head(6)

,Year,Total - Percentage,Total - Lower Limit,Total - Upper Limit,Unnamed: 4
0,2000,6.0,5.7,6.3,NaN
1,2001,6.4,6.1,6.8,NaN
2,2002,6.5,6.2,6.8,NaN
3,2003,6.6,6.3,6.9,NaN
4,2004,7.0,6.7,7.3,NaN
5,2005,7.3,7.0,7.6,NaN

## Kaggle Heart Disease Indicator ( with smoking9)
### https://www.kaggle.com/datasets/alexteboul/heart-disease-health-indicators-dataset

In [10]:
#heart_disease_df = pd.read_csv()

#The dataset won't uplod on my computer, but i think it is an important dataset 
#If someone could upload it it would be great
#It's the last link in the repository file